@import "./color_schemes/light";
body {
    background-image: url(background.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
$textColor: darkblue;

body, h1, h2, h3, h4, h5, h6 { color: $textColor; }

h1 {    font-weight: bold; }

$link-color: rgba(0, 0, 204, 1);