@import "./color_schemes/light";
body {
    background-image: url(background.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/* $text-color: darkblue; */

$link-color: rgba(0, 0, 204, 1);