
div.metals {
    // justify-content: center;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 10px;
    padding: 10px;

    div.metal { 
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        // padding: 20px 0;
        // font-size: 30px;
        width: 100px;
        padding-top: 100px;
        background-color: rgba(37, 31, 66, 0.1);
        box-shadow: rgba(37, 31, 66, 0.8) 0px 0px 0px 2px inset;
        color: rgb(37, 31, 66);
        border-radius: 3%;
        position: relative;
        h1 {
            position: absolute;
            top: 40%;
            left: 50%;
            font-weight: bold;
            transform: translate(-50%, -50%);
        }
        h3 {
            position: absolute;
            font-size: 12pt;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}